/* Scrollbar */

body::-webkit-scrollbar {
    width: 12px;
}

body.dark::-webkit-scrollbar-track {
    background: #0B0B3C;
}
  
body.light::-webkit-scrollbar-track {
    background: #A1A1F5;
}
  
body::-webkit-scrollbar-thumb {
    border-radius: 20px;
}
  
body.dark::-webkit-scrollbar-thumb {
    background-color: #32326A;
    border: 3px solid #0B0B3C;
}
  
body.light::-webkit-scrollbar-thumb {
    background-color: white;
    border: 3px solid #A1A1F5;
}

/* General Styles */

html {
    scroll-behavior: smooth;
    font-size: 1.125rem;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

main {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: unset;
}

h2, p, li {
    font-family: monospace;
}

.blockColor, body, .codeBlockHeader, .codeBlock {
    transition: .3s;
}

/* Header */

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header h1 {
    padding: 1em 1.5em;
    border-radius: 1.5rem;
    backdrop-filter: blur(15px) brightness(1.2);
    box-shadow: 0px 0px 1rem 0.5rem black;
    color: #90EBFF;
    font-family: sans-serif;
    font-size: 3.5rem;
    text-align: center;
}

/* Navigation Bar */

#navBar {
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-radius: 0;
    box-shadow: 0px 5px 20px 0px black;
    z-index: 1;
}

#navBar img {
    cursor: pointer;
    transition: .3s;
    height: -webkit-fill-available;
}

#rail {
    width: 100px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.switch {
    width: 50px;
    height: -webkit-fill-available;
    border-radius: 25px;
    transform: scale(.8);
    position: absolute;
    left: 0;
}

body.light .switch {
    left: 50px;
}

/* Navigation Section */

#navSection {
    max-width: 1600px;
    width: 100%;
    align-self: center;
    margin: 50px 100px 0 100px;
}

#topSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(28rem + 20px), 1fr));
    grid-column-gap: 100px;
    grid-row-gap: 20px;
}

#topSection a {
    min-width: 28rem;
    width: -webkit-fill-available;
    height: 60px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    border: 0;
}

#topSection a img {
    height: -webkit-fill-available;
    margin-right: 15px;
}

#bottomSection {
    margin: 50px 0 0 0;
}

#bottomSection ul {
    margin: 0;
    padding: 5px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(18.5rem + 20px + 20px), 1fr));
}

#bottomSection li {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 18.5rem;
}

body.dark #bottomSection li {
    box-shadow: 0 0 5px 1px #90ebff;
}

body.light #bottomSection li {
    box-shadow: 0 0 5px 1px black;
}

#bottomSection a {
    font-size: 1.222rem;
    font-weight: 600;
}

/* Item Blocks */

.itemDisplay {
    display: flex;
    flex-direction: column;
}

.blockFormat {
    border-radius: 25px;
    padding: 25px;
    margin: 75px 0 0 0;
    text-align: justify;
}

.blockFit {
    max-width: fit-content;
}

.block400 {
    max-width: 400px;
}

.block900 {
    max-width: 900px;
}

.block1150 {
    max-width: 1150px;
}

.blockLeft {
    align-self: start;
}

.blockCenter {
    align-self: center;
}

.blockRight {
    align-self: end;
}

/* Page Theme Colors - Start */

body.dark {
    background-color: #32326A;
}

body.light {
    background-color: white;
}

body.dark .blockColor {
    background-color: #0B0B3C;
    color: #90EBFF;
}

body.light .blockColor {
    background-color: #A1A1F5;
    color: black;
}

body.dark #rail {
    background-color: #32326A;
}

body.light #rail {
    background-color: white;
}

/* Hover Styles */

#topSection a:hover, #navBar img:hover, #rail:hover .switch, #navSection li:hover {
    filter: brightness(0.7);
}

/* Page Theme Color - End */

/* Code Block - Start */

/* Structure Styles */

.codeBlockHeader {
    height: 35px;
    padding: 0 25px;
    border-radius: 25px 25px 0 0;
    display: flex;
    align-items: center;
}

.codeBlockHeader div {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 2px;
}

.codeBlockHeader :first-child {
    background-color: #EE4343;
}

.codeBlockHeader :nth-child(2) {
    background-color: #DFE33C;
}

.codeBlockHeader :last-child {
    background-color: #41E56A;
}

.codeBlock {
    color: #666666;
    margin: 0;
    padding: 4px 10px 10px 40px;
    border-radius: 0 0 10px 10px;
}

/* Line Styles */

.codeBlock li {
    margin: 3px 0;
    text-align: left;
}

/* Structure Colors */

body.dark .codeBlockHeader {
    background-color: black;
}

body.light .codeBlockHeader {
    background-color: #535353;
}

body.dark .codeBlock {
    background-color: #282828;
}

body.light .codeBlock {
    background-color: #edecd6;
}

/* Code Block - End */