/*
=====
Header Image
=====
*/

.backgroundImage {
    background-image: url(../images/HTMLCode.jpeg);
}

/*
=====
Code Block Line Colors
=====
*/

body.dark .tag {
    color: #3577db;
}

body.light .tag {
    color: #268bd2;
}

body.dark .attribute {
    color: #50b8fe;
}

body.light .attribute {
    color: #4aa7e8;
}

body.dark .attributeTxt {
    color: #c3602d;
}

body.light .attributeTxt {
    color: #df712c;
}

body.dark .normalTxt {
    color: #b7b7b7;
}

body.light .normalTxt {
    color: #747474;
}

body.dark .annotation {
    color: #5f8743;
}

body.light .annotation {
    color: #1db0b0;
}

/* 
=====
Minimum Width for .codeBlock Overflow
=====
*/

#metatags .codeBlock {
    min-width: 45rem;
}

#CSS .codeBlock {
    min-width: 38.889rem;
}

#importacaoDoCSSEJS .codeBlock {
    min-width: 32.223rem;
}

#atributosDeAcessibilidade .codeBlock {
    min-width: 43.62rem;
}

#escritaAdequada .codeBlock {
    min-width: 36.667rem;
}

#organizacaoDeFormularios .codeBlock {
    min-width: 27.222rem;
}
