/* Header Image */

.backgroundImage {
    background-image: url(../images/HTMLCode.jpeg);
}

/* Code Block Line Colors */

body.dark .tag {
    color: #3577db;
}

body.light .tag {
    color: #268bd2;
}

body.dark .attribute {
    color: #50b8fe;
}

body.light .attribute {
    color: #4aa7e8;
}

body.dark .attributeTxt {
    color: #c3602d;
}

body.light .attributeTxt {
    color: #df712c;
}

body.dark .normalTxt {
    color: #b7b7b7;
}

body.light .normalTxt {
    color: #747474;
}

body.dark .annotation {
    color: #5f8743;
}

body.light .annotation {
    color: #1db0b0;
}

/* Main Content */

.initialConsideration {}

/* DOCTYPE Item */

#doctype h2 {}

#doctype p {}

#doctype .codeArea {}

/* Títulos Inteligentes Item */

#titulosInteligentes h2 {}

#titulosInteligentes p {}

#titulosInteligentes .codeArea {}

/* Metatags Item */

#metatags h2 {}

#metatags .p1 {}

#metatags .p2 {}

#metatags .codeArea {}

/* CSS Item */

#CSS h2 {}

#CSS p {}

#CSS .codeArea {}

/* Importação do CSS e JS Item */

#importacaoDoCSSEJS h2 {}

#importacaoDoCSSEJS p.p1 {}

#importacaoDoCSSEJS p.p2 {}

#importacaoDoCSSEJS .codeArea {}

/* Atributos de Acessibilidade Item */

#atributosDeAcessibilidade h2 {}

#atributosDeAcessibilidade p.p1 {}

#atributosDeAcessibilidade p.p2 {}

#atributosDeAcessibilidade p.p3 {}

#atributosDeAcessibilidade p.p4 {}

#atributosDeAcessibilidade p.p5 {}

#atributosDeAcessibilidade .codeArea {}

/* Escrita Adequada Item */

#escritaAdequada h2 {}

#escritaAdequada p {}

#escritaAdequada .codeArea {}

/* Organização de Formulários Item */

#organizacaoDeFormularios h2 {}

#organizacaoDeFormularios p {}

#organizacaoDeFormularios .codeArea {}

/* Tags Semânticas Item */

#tagsSemanticas h2 {}

#tagsSemanticas p {}

/* Compressão Item */

#compressao h2 {}

#compressao p {}

/* Validação Item */

#validacao h2 {}

#validacao p {}